@import "src/styles/common";

.wrapper {

}

.title {
  @include H0;
  padding: 6rem 0;
  color: $M2;
}

.summary {
  @include P1;
  padding: 4rem 0;
}

.container {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: cent1er;
}

$size-avatar: 2rem;

.avatar {
  width: $size-avatar;
  height: $size-avatar;
  border-radius: $size-avatar;
  overflow: hidden;
  margin-right: 1rem;
}

.username {
  display: inline-block;
  line-height: $size-avatar;
}

.toolbar {
}

.table {
  margin: 4rem auto;
}
