@import "src/styles/common";

/**
           screen width <=  576 px , container width =  100  % , gutter = 16
 576 px <= screen width <   768 px , container width =  512 px , gutter = 16
 768 px <= screen width <   922 px , container width =  752 px , gutter = 16
 922 px <= screen width <  1200 px , container width =  992 px , gutter = 16
1200 px <= screen width <  1600 px , container width = 1200 px , gutter = 28
1600 px <= screen width <  1920 px , container width = 1600 px , gutter = 32
        <= screen width <  1920 px , container width = 1920 px , gutter = 32
 */

.pingcap-container {
  box-sizing: border-box;
  // both sides padding of page is 1rem
  padding: 0 1rem;
  // center horizontally
  margin: 0 auto;

  // (0 , 576]
  @include responsive-lte-xs {
    width: 100%;
  }
  // (576 , 768]
  @include responsive-between-xs-sm {
    width: 512px;
  }
  // (768 , 992]
  @include responsive-between-sm-md {
    width: 752px;
  }
  // (992 , 1200]
  @include responsive-between-md-lg {
    width: 992px;
  }
  // (1200 , 1600]
  @include responsive-between-lg-xl {
    width: 1200px;
  }
  // (1600 , 1920]
  @include responsive-between-xl-xxl {
    width: 1600px;
  }
  // (1920 , ∞]
  @include responsive-gt-xxl {
    width: 1920px;
  }
}
