@import "src/styles/common";

.wrapper {

}

.container {
}

.title {
  @include H0;
  padding: {
    top: 5rem;
    bottom: 5rem;
  };
  font-size: 2.5rem;
  color: $M2;
}

.list {
  //display: flex;
  //flex-wrap: wrap;
  margin: 6rem 0;
}

.item {
  @include card;
}
