@import "src/styles/common";

.shadow {
  transition: all .25s;
  width: 600px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid #E9EAEE;
  box-shadow: $shadow;
  &:hover {
    box-shadow: $shadow-hover;
  }
}
