@import "src/styles/common";

.wrapper {

}

.container {

}

.summary {
  @include markdown;
  padding: 4rem 0;
}

.banner {
  &_title {
    @include H0;
    color: $M2;
    padding: {
      top: 5rem;
      bottom: 5rem;
    };
    font-size: 2.5rem;
  }
}
