@import "src/styles/common";

.wrapper {

}

.title {
  @include H0;
  padding: 6rem 0;
  color: $M2;
}

.summary {
  @include P1;
  padding: 4rem 0;
}

.list {
  padding: {
    bottom: 4rem;
  };
}

$split-size: 1rem;
$avatar-size: 5rem;
$avatar-sub-size: 33.3%;

.item {
  display: flex;
  margin-bottom: $split-size;
  padding-bottom: $split-size;
  border-bottom: 1px solid $T2;
  &:last-child {
    border-bottom: 0;
  }
  &_left {
    margin-right: 1rem;
    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      width: $avatar-size;
      height: $avatar-size;
      img {
        width: $avatar-sub-size;
        height: $avatar-sub-size;
      }
    }
  }
  &_right {
    width: 100%;
    &_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &_title {
        @include H2;
        a:hover {
          color: $B1;
        }
      }
      &_member_count {
        @include P2;
        color: $B3;
      }
    }
    &_summary {
      margin-top: 1rem;
    }
  }
}

.popular {
  &_item {
    @include transition;
    display: block;
    padding: 4px 10px;
    background-color: rgba($B3, .1);
    &:hover {
      color: $B1;
      background-color: rgba($B1, .25);
    }
  }
}
