@import "src/styles/common";

@mixin text {
  color: $F1;
  a:hover {
    color: $F1;
  }
  &_transparent {
    color: $M1;
    a:hover {
      color: $M1;
    }
  }
}

.wrapper {
  @include transition;
  @include text;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: $height-navbar;
  background-color: $M2;
  box-shadow: $shadow;
  &_transparent {
    background-color: rgba(#000, 0);
    box-shadow: 0 0;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left, .right {
  display: flex;
  align-items: center;
}

.logo {
  img {
    height: 3rem;
  }
}

.title {
  @include text;
  margin-left: 1rem;
  font: {
    size: 1.5rem;
    weight: 600;
    family: $family-sans-serif;
  };
}

.menu {
  display: flex;
  align-items: center;
  &_item {
    @include text;
    margin: 0 1.5rem;
    padding: .5rem 0;

    @include transition;
    @include H3;
    display: inline-block;
    border: {
      bottom: 3px solid rgba($B1, 0);
    };
    &:hover {
      border-bottom-color: $B1;
    }
  }
}
