@import "src/styles/common";

.wrapper {
  padding: 6rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include H1;
  text-align: center;
}

.summary {
  @include P1;
  margin-top: 2rem;
  text-align: center;
  max-width: 80%;
}

$size-avatar: 5rem;

.list {
  margin-top: 4rem;
  width: 100%;
  &_item {
    @include card;
    height: 100%;
    padding: 2rem;
    &_top {
      display: flex;
      //justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      &_image {
        width: $size-avatar;
        height: $size-avatar;
      }
      &_title {
        @include H3;
        margin-left: 1rem;
      }
    }
    @include split-line($margin: 1rem 0);
    &_bottom {
      &_summary {
        @include P1;
      }
    }
  }

}

.more {
  margin-top: 40px;
}

