@import "src/styles/common";

.wrapper {
  padding: 6rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  @include H1;
  text-align: center;
}

.summary {
  @include P1;
  margin-top: 2rem;
  text-align: center;
}

.step {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > div {
    margin-bottom: 2rem;
  }
  &_arrow {
    padding: 0 1rem;
  }
  &_item {
    padding: {
      top: 2rem;
      bottom: 1rem;
    };
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: $T2;
    border: 1px solid $T2;
    &_index {
      margin-top: 16px;
    }
    &_title {
      margin-top: 8px;
    }
  }
}
