@import "src/styles/common";

.wrapper {
  width: 100%;
  padding: 4rem 0 3rem 0;
  background-color: $M2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include H1;
  text-align: center;
}

.summary {
  @include P1;
  margin-top: 2rem;
  text-align: center;
}

$size-avatar: 6rem;

.list {
  margin-top: 4rem;
  text-align: center;
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_image {
      width: $size-avatar;
      height: $size-avatar;
      border-radius: $size-avatar;
      overflow: hidden;
    }
    &_name {
      @include H2;
      margin-top: 2rem;
    }
    &_summary {
      @include P1;
      margin-top: .5rem;
    }
    &_content {
      @include P1;
    }
  }
}
