@import "src/styles/common";

.wrapper {
  width: 100%;
  padding: 4rem 0 6rem 0;
  background-color: $M1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include H1;
}

.list {
  margin-top: 4rem;
}

.more {
  margin-top: 40px;
}
