@import "src/styles/common";

.wrapper {
  //@include shadow;
  box-shadow: $shadow;
  padding: .5rem 0;
  background-color: $M1;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
}

.title {
  font: {
    weight: 600;
  }
}

.content {
  margin-left: 1rem;
}

.pagination {

}

