@import "src/styles/common";

$color-background: #516195;

.wrapper {
  padding: 6rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  @include H1;
  text-align: center;
}

.summary {
  @include P1;
  margin-top: 2rem;
  text-align: center;
}

.list {
  margin-top: 4rem;
  &_item {
    @include split-line($hover-color: $color-background);
    height: 100%;
    padding: 2rem 3rem;
    border: 1px solid #E9EAEE;
    background-color: $color-background;
    @include card;
    &_title {
      @include H1;
      color: $T2;
    }
    &_summary {
      @include P1;
      color: $T2;
    }
  }
}

.more {
  margin-top: 40px;
  &_button {

  }
}
